---
layout: default
---

<div class="home">
  <img src="{{ site.url }}/images/ttcomics-tested-on-humans.jpg" alt="Tested on humans logo" class="logo" width="740" height="462.5">

  <h1 class="page-heading">Posts</h1>

  <!-- This loops through the paginated posts -->
  <ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <a class="post-link" href="{{ post.url | relative_url }}"><img src="{{ site.url }}/{{ post.image }}-thumb.jpg" alt="{{ post.title }}" class="post-thumb"></a>
    </li>
  {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
